<div class="bg-gray-50 h-auto">

    <!-- Navbar Section -->
    <div class="bg-white fixed top-0 left-0 right-0 z-10 shadow-md mb-1">
        <app-navbar></app-navbar>
    </div>

    <!-- Main KFC Section for Booking -->
    <div class="max-w-6xl mx-auto px-4 sm:px-12 md:px-16 lg:px-36 pt-12 pb-8 mt-16">

        <div class="font-bold text-3xl"> KFC </div>
        <div class="text-slate-500 text-sm"> 15-20 mins</div>

        <div class="mt-3 cursor-pointer font-bold font-sans text-xl w-full py-4 border-b-[1px] border-b-gray-400 outline-none">
            <div class="ml-4 relative">
                <span class="border-b-[5px] rounded-t-full border-[#FF5200] pb-3">Order Online</span>
                <span class="ml-8">Dineout</span>
            </div>
        </div>

        <div class="bg-gradient-to-b from-white to-gray-300 pb-1 rounded-3xl">
            <div class="m-4 bg-white rounded-2xl border">
                <div class="m-4">
                    <div class="font-bold flex items-center"> 
                        <span style="color: rgb(2, 152, 2); font-size: 1.5rem; vertical-align: middle;">&#10026;</span>
                        <span class="ml-2">4.0 (22K+ ratings) <span style="color: rgb(152, 151, 151);">•</span> ₹400 for two</span>
                    </div>
                    <div class="text-[#FF5200] underline font-bold text-sm">Burgers, Fast Food</div>

                    <div class="flex gap-3 mt-2">
                        <div class="text-slate-400 text-4xl">&#8597;</div>
                        <div class="font-bold">
                            Outlet <span style="color:rgb(96, 96, 96);font-weight: 400; margin-left: 5px;">Charminar </span> <span style="color: #FF5200;">&#9207;</span>  <br> 15-20 mins
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Deals for you -->
        <div class="mt-8 ml-5 flex justify-between items-center">
            <div class="font-bold text-xl">Deals for you</div>
            <div class="flex items-center gap-4">
                <button class="bg-gray-200 rounded-full p-2 hover:bg-gray-300 focus:outline-none">
                    <!-- Left Arrow Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>
                <button class="bg-gray-200 rounded-full p-2 hover:bg-gray-300 focus:outline-none">
                    <!-- Right Arrow Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </button>
            </div>
        </div>

        <!-- Deals Section (Flexbox) -->
       <div class="mt-4 m-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <!-- First Offer -->
            <div class="flex w-full cursor-pointer border p-4 rounded-xl overflow-hidden">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_96,h_96/rng/md/ads/production/d07196b25b85d1fd9951e10c255ab737" class="h-12 w-12" alt="Instamart">
                <div class="font-bold">
                    Extra ₹25 Off <br>
                    <span class="text-gray-500 whitespace-nowrap">ENDS IN 08h : 57m : 12s</span>
                </div>
            </div>

            <!-- Second Offer -->
            <div class="flex w-full cursor-pointer border p-4 rounded-xl overflow-hidden">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_96,h_96/offers/deal-of-day" class="h-12 w-12" alt="Instamart">
                <div class="font-bold">
                    Items At ₹399 <br>
                    <span class="text-gray-500 whitespace-nowrap">ENDS IN 08h : 57m : 12s</span>
                </div>
            </div>

            <!-- Third Offer -->
            <div class="flex w-full cursor-pointer border p-4 rounded-xl overflow-hidden">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_96,h_96/offers/generic" class="h-12 w-12" alt="Instamart">
                <div class="font-bold">
                    USE TRYNEW <br>
                    <span class="text-gray-500 whitespace-nowrap">ENDS IN 08h : 57m : 12s</span>
                </div>
            </div>
        </div>




        <!-- Top Picks -->
        <div class="mt-8 ml-5 flex justify-between items-center">
            <div class="font-bold text-xl">Top Picks</div>
            <div class="flex items-center gap-4">
                <button class="bg-gray-200 rounded-full p-2 hover:bg-gray-300 focus:outline-none">
                    <!-- Left Arrow Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>
                <button class="bg-gray-200 rounded-full p-2 hover:bg-gray-300 focus:outline-none">
                    <!-- Right Arrow Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </button>
            </div>
        </div>
        <!-- top picks row -->
        <div class="mt-4 flex gap-4 pl-8">
            <!-- First Image -->
            <div class="w-full cursor-pointer overflow-hidden">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_292,h_300/TopPicks/WChSB" alt="Instamart" class="w-full h-auto object-cover">
            </div>

            <!-- Second Image -->
            <div class="w-full cursor-pointer overflow-hidden">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_292,h_300/TopPicks/KTChR" alt="Instamart" class="w-full h-auto object-cover">
            </div>

             <!-- Third Image -->
            <div class="w-full cursor-pointer overflow-hidden">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_292,h_300/TopPicks/AllChB" alt="Instamart" class="w-full h-auto object-cover">
            </div>
        </div>



        <!-- Recommended -->
         <div class="mt-8 ml-5 flex justify-between items-center">
            <div class="font-bold text-xl">Recommended(20)</div> 
        </div>
        <!--recommended menu-->
        <div class="flex flex-col gap-6 p-4 max-w-3xl mx-auto">
            <!-- Item 1 -->
            <div class="flex justify-between items-center border-b pb-4">
                <div>
                <h2 class="text-lg font-semibold text-gray-800">Wednesday Chicken Bucket</h2>
                <p class="text-xl font-bold text-gray-700">₹719.05</p>
                <div class="flex items-center text-green-600 text-sm mt-1">
                    <span>★ 4.1</span>
                    <span class="ml-1">(39)</span>
                </div>
                    <p class="text-gray-500 text-sm mt-2">
                        Enjoy Special Wednesday Bucket with flat 37% off on 10 pcs of Hot & Crispy Chicken
                    </p>
                </div>
                <div class="relative">
                    <img class="w-full sm:w-36 sm:h-36 h-auto object-cover rounded-lg" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_300,h_300,c_fit/FOOD_CATALOG/IMAGES/CMS/2024/5/22/e3f647bd-6c06-4355-8c73-34e7b89598f3_4327bcb5-7bf0-4ff0-ad68-8c4e8c9818e7.jpg" alt="Wednesday Chicken Bucket">
                    <span class="absolute top-1 right-1 bg-white text-xs text-red-600 font-bold px-1 rounded">SAVE 37%</span>
                    <div class="p-2">
                        <button class="absolute bottom-1 w-32 bg-white text-green-600 font-bold py-1 rounded-lg botf hover:bg-slate-200" (click)="addtocart(['Wednesday Chicken Bucket',719.05])">ADD</button>
                    </div>
                    
                </div>
            </div>

            <!-- Item 2 -->
            <div class="flex justify-between items-center border-b pb-4">
                <div>
                <h2 class="text-lg font-semibold text-gray-800">Wednesday Chicken Strips Bucket</h2>
                <p class="text-xl font-bold text-gray-400 line-through inline-block mr-2">₹831.26</p>
                <span class="text-xl font-bold text-gray-700 inline-block">₹399</span>
                
                <div class="flex items-center text-green-600 text-sm mt-1">
                    <span>★ 4.1</span>
                    <span class="ml-1">(161)</span>
                </div>
                <p class="text-gray-500 text-sm mt-2">
                    Wednesdays are for Fun! Flat 52% off on 12 pc chicken Peri Peri Boneless Strips  
                </p>
                </div>
                <div class="relative">
                    <img class="w-full sm:w-36 sm:h-36 h-auto object-cover rounded-lg" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_300,h_300,c_fit/FOOD_CATALOG/IMAGES/CMS/2024/5/22/06c35d3c-8d6f-4869-bb1c-c55d10346dc3_9ca1dda0-54a9-4d69-9204-f226079995a1.jpg" alt="Wednesday Chicken Bucket">
                    <span class="absolute top-1 right-1 bg-white text-xs text-red-600 font-bold px-1 rounded">SAVE 37%</span>
                    <div class="p-2">
                        <button class="absolute bottom-1 w-32 bg-white text-green-600 font-bold py-1 rounded-lg botf hover:bg-slate-200" (click)="addtocart(['Wednesday Chicken Strips Bucket',399])">ADD</button>
                    </div>
                </div>
            </div>    

            <!-- Item 3 -->
             <div class="flex justify-between items-center border-b pb-4">
                <div>
                <h2 class="text-lg font-semibold text-gray-800">Wednesday Value Chicken Bucket</h2>
                <p class="text-xl font-bold text-gray-700">₹549</p>
                <div class="flex items-center text-green-600 text-sm mt-1">
                    <span>★ 4.0</span>
                    <span class="ml-1">(44)</span>
                </div>
                    <p class="text-gray-500 text-sm mt-2">
                        Bucket of 6 Pc Hot Wings, 6 Pc Peri Peri Strips & 3 Pc Peri Peri Chicken Leg Pc
                    </p>
                </div>
                <div class="relative ml-8">
                    <img class="w-full sm:w-36 sm:h-36 h-auto object-cover rounded-lg" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_300,h_300,c_fit/FOOD_CATALOG/IMAGES/CMS/2024/4/10/139c12b3-4eba-4946-8492-90297749950d_ee77b4af-c98b-407b-9516-93923292b71f.jpg">
                    <span class="absolute top-1 left-1 bg-white text-xs text-red-600 font-bold px-1 rounded">SAVE 37%</span>
                    <div class="p-2">
                        <button class="absolute bottom-1 w-32 bg-white text-green-600 font-bold py-1 rounded-lg border hover:bg-slate-200" (click)="addtocart(['Wednesday Value Chicken Bucket',549])" >ADD</button>
                    </div>
                </div>
            </div>

            <!-- Item 4 -->
            <div class="flex justify-between items-center border-b pb-4">
                <div>
                <h2 class="text-lg font-semibold text-gray-800">Korean Tangy Chicken Roll</h2>
                <p class="text-xl font-bold text-gray-700">₹119.05</p>
                <div class="flex items-center text-yellow-600 text-sm mt-1">
                    <span>★ 2.9</span>
                    <span class="ml-1">(6)</span>
                </div>
                    <p class="text-gray-500 text-sm mt-2">
                        Delicious new roll featuring tangy Korean kimchi, vegetables and crunchy chicken strips
                    </p>
                </div>
                <div class="relative">
                    <img class="w-full sm:w-36 sm:h-36 h-auto object-cover rounded-lg" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_300,h_300,c_fit/FOOD_CATALOG/IMAGES/CMS/2024/7/25/2b5fdf7d-ee02-4871-8a5d-e766dc62833a_ae001a35-cbdc-4524-9868-b192251fda2b.jpg" alt="Wednesday Chicken Bucket">
                     <div class="p-2">
                        <button class="absolute bottom-1 w-32 bg-white text-green-600 font-bold py-1 rounded-lg botf hover:bg-slate-200" (click)="addtocart(['Korean Tangy Chicken Roll',119.05])">ADD</button>
                    </div>
                </div>
            </div>

                <!-- Item 5 -->
                <div class="flex justify-between items-center border-b pb-4">
                    <div>
                    <h2 class="text-lg font-semibold text-gray-800">Korean & Thai Roll Chicken Meal</h2>
                    <p class="text-xl font-bold text-gray-700">₹549</p>
                    <div class="flex items-center text-green-600 text-sm mt-1">
                        <span>★ 4.1</span>
                        <span class="ml-1">(44)</span>
                    </div>
                        <p class="text-gray-500 text-sm mt-2 ml-2">
                            Rs. 114 Off on Korean Tangy Roll & Thai Spicy Roll, Large Popcorn, Large Fries & Pepsi PET 475ml
                        </p>
                    </div>
                    <div class="relative">
                        <img class="w-full sm:w-36 sm:h-36 h-auto object-cover rounded-lg" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_300,h_300,c_fit/FOOD_CATALOG/IMAGES/CMS/2024/7/19/4c4e85fc-9a85-41b7-a9d6-644b92c144da_a8391eb4-db4c-41cc-b7d5-02114443fc5c.jpg">
                        <span class="absolute top-1 right-1 bg-white text-xs text-red-600 font-bold px-1 rounded">SAVE 37%</span>
                        <div class="p-2">
                            <button class="absolute bottom-1 w-32 bg-white text-green-600 font-bold py-1 rounded-lg border hover:bg-slate-200" (click)="addtocart(['Korean & Thai Roll Chicken Meal',549])" >ADD</button>
                        </div>
                    </div>
                </div>

        </div>
 

    </div>

    <!-- Footer -->
    <div class="mt-12">
        <app-footer></app-footer>
    </div>

    <!--cart--> 
   <app-cart class="hidden" [cartItems]="cart" (updateQuantity)="cart = $event"></app-cart>


</div>
